.banner {
  text-align: center;
  background-image: linear-gradient(to right, #635dc0, #3027ae);
  height: 100vmin;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}
.banner h1 {
  margin: 5vmax;
  font: 300 1.4vmax;
  font-family: 'Roboto';
  color: white;
}
.banner > p {
  font: 300 1.4vmax 'Lucida Sans';
}
.banner a button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax 'Roboto';
}
.banner > a > button:hover {
  background-color: transparent;
  color: white;
  transition: all 0.5s;
}
.banner::after {
  content: ' ';
  width: 100vw;
  height: 100vmin;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 78%, 0% 100%, 100% 100%);
  max-width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 2vmax auto;
  width: 80vw;
  justify-content: center;
}
.productHeading {
  text-align: center;
  border-bottom: 1px solid;
  padding: 1vmax;
  width: 20vmax;
  font-family: 'Roboto';
  margin: 5vmax auto;
  max-width: 100%;
}

/* Featured PRoduct to create card */
.card {
  width: 14vmax;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 1.5vmax;
  padding-bottom: 0.5vmax;
  transition: all 0.5s;
}
.card > img {
  width: 14vmax;
}
.card > div {
  font-size: 1.2vmax;
  display: flex;
  justify-content: flex-start;
  margin: 0.5vmax;
  width: 100%;
}
.card > div > span {
  margin: 0.5vmax;
  font: 300 0.7vmax 'Roboto';
}
.card > p {
  font-family: 'Roboto';
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  font-weight: bold;
}
.card > span {
  margin: 0.5vmax;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1vmax;
  font-weight: bold;
}
.card:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.3);
  transform: translateY(-0.5vmax);
}
@media screen and(max-width:600px) {
  .card > p {
    font-size: 1.7vmax;
  }
  .card > div {
    margin: 0;
    display: block;
  }
  .card > span {
    font-size: 1.5vmax;
  }
  .card > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax 'Roboto';
  }
}
